.total-conatiner{
   
    background-color: #3B3B3B;
    position: relative;
    padding: 1rem;
    
} 
.expense-linechart-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;
}
.top-expense{
    display: flex;
    flex-direction: column;
    
    width: 40%;
}

.heading{
    font-style: italic;
    color: white;
}

@media only screen and (max-width:600px)
{
    .expense-linechart-container{
    flex-direction: column;
    width:100%;
    }
    .top-expense{
        width: 100%;
    }
}